<!DOCTYPE html>
<html lang="en">

<%- include('../layout/head') %>
    <style>
        * {
            box-sizing: border-box;
        }
    </style>

    <body class="currency">
        <div id="header">
            <%- include('../layout/header') %>
        </div>
        <main class="currency">
            <div class="jumbotron">
                <h2 id="myHeader">Currency Calculator</h2>
                <div class="container">
                    <!-- <h2 class="headerClass">Currency Calculator</h2> -->
                    <form class="form-inline" method="POST" action="/currency">
                        <div class="form-group mx-sm-3 mb-2">
                            <label>Convert From :</label>
                            <select class="form-control" name="currency" required>
                                <option value="EUR" selected>EUR</option>
                                <option value="JOD">JOD</option>
                                <option value="USD">USD</option>
                                <option value="AED">AED</option>
                                <option value="CAD">CAD</option>
                                <option value="CHF">CHF</option>
                                <option value="CLP">CLP</option>
                                <option value="CNY">CNY</option>
                                <option value="COP">COP</option>
                                <option value="CZK">CZK</option>
                                <option value="DKK">DKK</option>
                                <option value="DOP">DOP</option>
                                <option value="EGP">EGP</option>
                                <option value="MYR">MYR</option>
                                <option value="NOK">NOK</option>
                                <option value="NZD">NZD</option>
                                <option value="PAB">PAB</option>
                                <option value="PEN">PEN</option>
                                <option value="PHP">PHP</option>
                                <option value="PKR">PKR</option>
                                <option value="PLN">PLN</option>
                                <option value="PYG">PYG</option>
                                <option value="RON">RON</option>
                                <option value="RUB">RUB</option>
                                <option value="SAR">SAR</option>
                                <option value="SEK">SEK</option>
                                <option value="SGD">SGD</option>
                                <option value="THB">THB</option>
                                <option value="TRY">TRY</option>
                                <option value="TWD">TWD</option>
                                <option value="UAH">UAH</option>
                                <option value="USD">USD</option>
                                <option value="UYU">UYU</option>
                                <option value="VND">VND</option>
                                <option value="ZAR">ZAR</option>
                            </select>
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            <label>Convert To :</label>
                            <select class="form-control" name="currencyTo" required>
                                <option value="JOD" selected>JOD</option>
                                <option value="EUR">EUR</option>
                                <option value="USD">USD</option>
                                <option value="AED">AED</option>
                                <option value="CAD">CAD</option>
                                <option value="CHF">CHF</option>
                                <option value="CLP">CLP</option>
                                <option value="CNY">CNY</option>
                                <option value="COP">COP</option>
                                <option value="CZK">CZK</option>
                                <option value="DKK">DKK</option>
                                <option value="DOP">DOP</option>
                                <option value="EGP">EGP</option>
                                <option value="MYR">MYR</option>
                                <option value="NOK">NOK</option>
                                <option value="NZD">NZD</option>
                                <option value="PAB">PAB</option>
                                <option value="PEN">PEN</option>
                                <option value="PHP">PHP</option>
                                <option value="PKR">PKR</option>
                                <option value="PLN">PLN</option>
                                <option value="PYG">PYG</option>
                                <option value="RON">RON</option>
                                <option value="RUB">RUB</option>
                                <option value="SAR">SAR</option>
                                <option value="SEK">SEK</option>
                                <option value="SGD">SGD</option>
                                <option value="THB">THB</option>
                                <option value="TRY">TRY</option>
                                <option value="TWD">TWD</option>
                                <option value="UAH">UAH</option>
                                <option value="USD">USD</option>
                                <option value="UYU">UYU</option>
                                <option value="VND">VND</option>
                                <option value="ZAR">ZAR</option>
                            </select>
                        </div>
                        <div class="form-group mb-2">
                            <label for="amount">Amount:</label>

                            <input type="number" step="0.01" class="form-control" name="amount" placeholder="00.00"
                                required />
                        </div>

                        <button class="btn calculate-btn btn-primary mb-2" id="send_profile">Convert!</button>
                        <% if (amount){%>
                            <div
                                style="color: #222; line-height: 3; font-weight: 700; margin-left: 40px; margin-top: 13px;">

                                The Result is : <%=amount %>
                                    <%=toVal%>
                            </div>
                            <%}%>
                                <div style="clear: both;"></div>

                    </form>
                </div>
            </div>
        </main>
        <div id="sidebar">
            <%- include('../layout/sidebar') %>
        </div>
        <%- include('../layout/footer') %>
    </body>

</html>